apiVersion: v1
kind: PersistentVolume
metadata:
  name: springboot-app-pv
  labels:
    app: springboot-app
spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/springboot-app"
    type: DirectoryOrCreate