apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: springboot-demo
  name: springboot-app-pvc
  labels:
    app: springboot-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  selector:
    matchLabels:
      app: springboot-app