apiVersion: v1
kind: Service
metadata:
  name: springboot-service
  namespace: springboot-demo
  labels:
    app: springboot-app
  annotations:
    service.kubernetes.io/topology-aware-hints: auto
spec:
  type: NodePort
  selector:
    app: springboot-app
  ports:
    - name: http
      port: 8081
      targetPort: http
      nodePort: 30081
      protocol: TCP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800